* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header,
body {
  background-color: steelblue;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
}

ul {
  list-style: none;
}

h1 {
  margin-top: 50px;
}

img {
  height: 150px;
  width: 150px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 20px;
  gap: 10px;
}

button {
  width: 150px;
  height: 25px;
  border-radius: 30px;
  border-style: solid;
  border-color: white;
  color: white;
  background-color: transparent;
}

button:hover {
  background-color: white;
  color: black;
}